.text__row {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 60px;
    flex-direction: row-reverse;
}

.text__row__title {
    width: 400px;
    position: relative;
}

.text__row__title::before {
    content: '';
    position: absolute;
    right: 60px;
    top: 20px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(245deg, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%;
}

.title {
font-size: 80px;
font-weight: 800;
line-height: 98px;
width: 392px;
height: 164px;
position: relative;
}

.title span {
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text__row__desc {
    width: 457px;
}

.event__btn {
   padding: 20px 80px;
   border-radius: 83px;
   background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
   font-weight: 639;
   font-size: 24px;
   letter-spacing: -0.02em;
   color: #fff;
   padding: 20px 50px;
   display: inline-block;
   margin-left: 20px;
}

.events {
    margin-top: 100px;
}

.event__title {
padding: 45px 30px 20px;
color: #fff;
font-size: 32px;
font-weight: 500;
line-height: 39px;
margin-bottom: 25px;
width: 294px; 
}

.event {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.events__inner__wrapper {
    display: grid;
    gap: 25px;
    grid-auto-rows: 260px;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "price price kitchen kitchen"
                         "coffee socials socials choose";
    position: relative;
                        }

.events__inner__wrapper::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url(../images/icons/lines.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 860px;
    height: 620px;
    left: -600px;
    top: -470px;
    z-index: -10;
    transform: rotate(420deg);
}

.events__inner__wrapper::after {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 50%;
    z-index: -5;
    width: 320px;
    height: 270px;
    border-radius: 100%;
    background-color: rgba(217, 217, 217, 0.2);
    filter: blur(100px);
}

.event__price {
    background-image: url(../images/events/1.png);
    grid-area: price;
    transition: transform 0.9s ease;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}

.event__price:hover {
    transform: scale(1.2);
}

.event__kitchen {
    background-image: url(../images/events/2.png);
    grid-area: kitchen;
    transition: transform 0.9s ease;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}

.event__kitchen:hover {
    transform: scale(1.2);
}

.event__coffee {
    background-image: url(../images/events/3.png);
    grid-area: coffee;
    transition: transform 0.9s ease;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}

.event__coffee:hover {
    transform: scale(1.2);
}

.event__socials {
    background-image: url(../images/events/4.png);
    grid-area: socials;
    transition: transform 0.9s ease;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}

.event__socials:hover {
    transform: scale(1.2);
}

.event__choose {
    background-image: url(../images/events/5.png);
    grid-area: choose;
    transition: transform 0.9s ease;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat;
}

.event__choose:hover {
    transform: scale(1.2);
}