.logo {
  font-weight: 800;
  font-size: 37px;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.footer {
  background-color: #0b0c0d;
  width: 100%;
}

.footer__phone {
  font-size: 26px;
  font-weight: 500;
  background: linear-gradient(245deg, #237249, #35c66b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 85px;
}

.footer__nav {
  display: flex;
  gap: 82px;
  margin-top: 30px;
}

.footer__nav__col {
  display: flex;
  flex-direction: column;
}

.footer__nav__link {
  color: rgba(187, 179, 179, 0.43);
  letter-spacing: -0.01em;
}

.footer__nav__link:first-child {
  color: #bbb3b3;
}

.footer__arrow {
  height: 35px;
 }

 .footer__up__link {
  position: relative;
    width: 85px;
    height: 85px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    border: 1.5px solid transparent;
    background: linear-gradient(#0b0c0d, #0b0c0d) padding-box,
                 linear-gradient(-30deg, #237249, #35C668) border-box;
 }

 .footer__up__link::before {
    content: '';
    position: absolute;
    inset: -2px;
    z-index: -5;
    background: rgb(218, 218, 218);
    background: linear-gradient(110deg, rgba(218, 218, 218, 0.7) 0%, rgba(218, 218, 218, 0.07) 42%, rgba(218, 218, 218, 0.7) 100%);
    border-radius: 30px;
 }