@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", serif;
    margin: 0;
    color: #D9D9D9;
    background-color: #121517;
    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 800;
    margin: 0;
}

a {
    color: #D9D9D9;
    text-decoration: none;
    transition: opacity 0.3s;
}

button {
    transition: opacity 0.3s;
    border: none;
    cursor: pointer;
}

a:hover, button:hover {
    opacity: 0.8;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}