.benefits {
    margin-top: 100px;
}

.benefits__container {
background: linear-gradient(230.31deg, rgba(255, 255, 255, 1) 4%,rgba(229.48524475097656, 229.48524475097656, 229.48524475097656, 1) 64%,rgba(251, 251, 251, 1) 89%);
display: flex;
align-items: center;
justify-content: space-around;
width: 1029px;
height: 372px;
left: 110px;
padding-top: 50px;
border-radius: 46px;
padding-bottom: 25px;
position: relative;
}

.benefits__container::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 10px;
    z-index: -5;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    filter: blur(100px);
}

.benefits__title {
color: rgba(18, 21, 23, 1);
font-size: 32px;
font-weight: 500;
margin-bottom: 20px;
}

.benefits__desc {
    line-height: 163%;
    color: rgba(18, 21, 23, 0.9);
}

.benefits__item {
    width: 220px;
    text-align: center;
}

.benefits__img_wrapper::before {
    content: '';
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
}

.benefits__icon {
    width: 146px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefits__img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 36px;
}

.benefits__heart {
    top: calc(50% + 10px);
    left: calc(50% + 5px);
}

.benefits__rocket {
    width: 210px;
    top: calc(50% + 10px);
    left: calc(50% - 10px);
}

.benefits__money {
    width: 210px;
    top: calc(50% + 10px);
    left: calc(50% - 10px);
}

.benefits__container::after {
    content: 'we\Ahave';
    white-space: pre-wrap;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-image: url(../images/icons/star.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 32px;
}