.title {
font-size: 80px;
line-height: 109px;
letter-spacing: -0.03%;
color: #fff;
}

.title span {
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome__title {
    margin-bottom: 55px;
    position: relative;
}

.welcome__title::before {
    content: '';
    position: absolute;
    left: 40px;
    top: 80px;
    z-index: -5;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    filter: blur(90px);
}

.welcome__text {
    margin-bottom: 54px;
}

.btn {
   padding: 20px 80px;
   border-radius: 83px;
   background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
   font-weight: 639;
   font-size: 24px;
   letter-spacing: -0.02em;
   color: #fff;
}

.link {
padding: 20px 55px;
background: #121517;
border: 1px solid #dadada;
border-radius: 82px;
font-size: 24px;
letter-spacing: -0.03em;
color: #D9D9D9;
margin-left: 17px;
}

.stats__num {
font-size: 62px;
line-height: 76px;
color: #fff;
}

.stats__num::after {
    content: '+';
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats__item {
line-height: 144%;
width: 126px;
}

.stats {
    display: flex;
    gap: 45px;
}

.welcome__btns_wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 55px;
}

.welcome__desc {
    max-width: 575px;
}

.welcome__img {
    width: 470px;
}

.welcome .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome__img_wrapper {
    padding-right: 60px;
    position: relative;
}

.welcome__img_wrapper::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-image: url(../images/icons/lines.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 860px;
    height: 620px;
    right: -230px;
    bottom: -180px;
    z-index: -10;
}

.welcome__img_wrapper::after {
    content: '';
    position: absolute;
    right: 130px;
    bottom: 60px;
    z-index: -5;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    filter: blur(150px);
}

.welcome {
    margin-top: 135px;
    padding-bottom: 25px;
}