.stats__title {
font-size: 80px;
line-height: 98px;
margin-top: 100px;
margin-bottom: 63px;
position: relative;
}

.stats__title::before {
    content: '';
    position: absolute;
    right: 60px;
    top: 40px;
    z-index: -5;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    filter: blur(144.62498474121094px);
    background: linear-gradient(244.98deg, rgba(35.259639739990234, 113.67274475097656, 73.06596374511719, 0.11),rgba(53.062068939208984, 197.61024475097656, 107.04993438720703, 0.15) 52%);
}

.stats__title span {
    background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stats__desc {
    color: rgba(217, 217, 217, 1);
    margin-bottom: 63px;
}

.stats__text {
    max-width: 460px;
    position: relative;
}

.stats__text::before {
    content: '';
    position: absolute;
    right: -145px;
    z-index: -10;
    width: 920px;
    height: 670px;
    bottom: -299px;
    background-image: url(../images/icons/lines.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(37deg);
}

.stats__img {
    width: 465px;
    top: 100px;
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

.stats .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.stats__pic {
    width: 447px;
    height: 275px;
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 0 23%, 11% 0);
}

.stats__img_wrapper {
    position: relative;
}

.stats__img_wrapper::before {
    content: '';
    width: 465px;
    height: 684px;
    position: absolute;
    top: 35px;
    left: -45px;
    background: #237249;
    clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}

 